[%  INCLUDE templates/header.html
	title = 'DISPOSE Match Results';
%]

	<h1>Some Interesting Matches</h1>
	<table>
		<tr>
			<td><h2><a href="[% fullTextLink %]">[% file1.name %]</a></h2></td>
			<td><h2><a href="[% fullTextLink %]">[% file2.name %]</a></h2></td>
		</tr>
		[%  FOREACH match IN matches %]
		<tr>
			<td><h3>[% match.linestext1 %]</h3></td>
			<td><h3>[% match.linestext2 %]</h3></td>
		</tr>
		<tr>
			<td><pre><code>[% match.text1 %]</code></pre></td>
			<td><pre><code>[% match.text2 %]</code></pre></td>
		</tr>
		[%  END %]
	</table>

[% INCLUDE templates/footer.html %]